/* Main container styling with a black background */
.main-container {
  min-height: 100vh;
  padding: 1.5rem;
  background-color: var(--background); /* Dark black background */
  color: var(--foreground); /* Soft cream text color */
  text-align: left;
}

@media (min-width: 640px) {
  .main-container {
    padding: 3rem;
  }
}

/* Fade-in and fade-out animations */
.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/* About Section */
.about-section {
  margin-bottom: 4rem;
}

.about-section h1 {
  font-size: 2.25rem; /* 4xl */
  font-weight: 800; /* extrabold */
  margin-bottom: 1.5rem;
  color: var(--foreground);
}

.about-section p {
  font-size: 1.125rem; /* lg */
  color: var(--foreground); /* Soft cream text */
  margin-bottom: 1.5rem;
  line-height: 1.75rem;
}


/* Move the resume button to the right */
.resume-button {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  margin-top: 1rem; /* Ensure space between the button and any adjacent content */
}

.resume-button:hover {
  background-color: var(--tertiary);
  color: var(--background);

  transform: scale(1.05);
}
