/* Add a box shadow to images */
.project-image {
  box-shadow: 10px 10px #800080, 
              10px 10px #800080;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out; /* Transition for smooth rising effect */
}

/* Hover effect for the image to rise slightly */
.project-image:hover {
  transform: translateY(-10px); /* Move image up slightly */
}

/* Style for the project container */
.project-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  gap: 2rem;
}

/* Remove hover background color change */
.project-container:hover {
  background-color: transparent; /* Keep background transparent */
}

/* Left-aligned text */
.project-text {
  text-align: left;
  width: 100%; /* Make text container take full width by default */
}

/* Media query to make the layout responsive */
@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    padding: 0.5rem; /* Reduce padding for mobile */
  }

  .project-text {
    width: 90%; /* Make text render wider on mobile */
    padding-left: 0.5rem; /* Adjust inner padding to prevent too much space on the left */
    padding-right: 0.5rem; /* Adjust inner padding to prevent too much space on the right */
  }
}
