@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default colors (dark mode) */
:root {
  --background: #0a0a0a; /* Default dark background */
  --foreground: #edecd9; /* Default light foreground */
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* 500ms fade-in */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* 500ms fade-out */
}
